* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    font-family: 'Helvetica', serif;
}

body{
	background-color: #4a86e8; 	/* cornflower blue */
}

h1{
	text-align: center;
	font-size: 48px;
	padding: 20px 0 20px 0; 	/* top right bottom left */
	color: #eeeeee;				/* light grey */
}

hr{
	height: 8px;
	margin: 20px 0 40px 0;
	background-color: #eeeeee;	/* light grey */
}
.center-me {
	display:flex;
	justify-content: center;
	width: 60%;
	margin: auto;
}

.dark{
	background-color: #1c4587; 	/* dark cornflower blue */	
	color: #eeeeee;				/* light grey */
	flex: 2;
}

.light{
	background-color: #eeeeee;	/* light grey */
	color: #1c4587; 			/* dark cornflower blue */	
	flex: 3;
}

table{
    border-collapse: collapse;
    margin: 20px auto 20px auto;		/* top right bottom left */
    width: 80%;
}

th {
	border: none;
	padding: 20px;
	font-size: 18px;
}

td {
    border: none;
    padding: 8px 4px 8px 4px;
    font-size: 14px;
}

[type="submit"] {
	padding: 8px;
	text-align: center;
}

[type="radio"] {
	margin-left: 25px;
}

.centered{
	text-align: center;
}

.right_align{
	text-align: right;
}

.single {
	width: 24px;
	padding: 4px;
	text-align: center;
}

.error_msg{
	 margin: 20px 0 20px 0;
	 padding: 8px;
	 text-align: center;
	 background-color: #eeeeee;	/* light grey */
	 color: red;
}

/* Question page styling */
.questionTable {
	background-color: #eeeeee; /* light grey */
	border-style: solid;
	border-color: #1c4587; 		/* dark cornflower blue */
	flex: 1;
	width: 100%
}

.menubar {
	width: 100%;
	background-color: #d9dbf1; /* lavender web */
	border: 1px #1b2432 solid;
	overflow: auto;
	margin-bottom: 40px;
}

.menubar a {
	float: left;
	background-color: #1c4587;/* dark cornflower blue */
	text-decoration: none; 
	padding: 8px 20px 8px 20px;
	border: 1px #1b2432 solid;
	font-size: 18px;
	color: #eeeeee; /* light grey*/
}
#selected {
	background-color: #4a86e8; /*  cornflower blue */
}

.menubar .right_align{
	float: right;
}

.menubar a:hover {
	background-color: #d9dbf1; /* light grey*/
	color: #1c4587;
}

/* Password check */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a check mark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2714";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\274C";
}

.profile{
	background-color: #eeeeee; 	/* light grey */
	color: #1c4587;
	font-size: 14px;
	border: ridge;
	border-color: #eeeeee; 		/* light grey */ 
	padding: 3px;
	
}
.profile-label{
	color: #1b2432; 			/* gunmetal grey */
}
